{% load i18n %}

<form action="{% url delete_url pk=id %}" method="POST">
    {% csrf_token %}
    <div id="danger-alert-modal-{{ id }}" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content modal-filled bg-danger">
                <div class="modal-body p-4">
                    <div class="text-center">
                        <i class="dripicons-wrong h1"></i>

                        <p class="mt-3">{% trans 'Are you sure you want to delete ' %}?</p>

                        <input class="btn btn-light my-2" value="Delete" type="submit">
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</form>
