{% extends 'base.html'%}

{% load static %}
{% load i18n %}
{% trans 'Add agent' %}
{% trans 'agents' %}

{% block extra_stylesheets %}
<!-- third party css -->
<link href="{% static 'dist/css/vendor/dataTables.bootstrap4.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'dist/css/vendor/responsive.bootstrap4.css' %}" rel="stylesheet" type="text/css"/>
<!-- third party css end -->
{% endblock %}

{% block content %}
<div class="container-fluid">
    {% include "partials/page_title.html" with title='Agents' %} <!-- page_title -->
    {% include "partials/messages.html" %}
    {% include 'users/partials/_filter_form.html' %}

    <!-- content_row -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    {% include 'partials/_button.html' with button_class="btn btn-success btn-lg mb-2" button_url='ui:user_create' title='Add agent' icon_class="mdi mdi-plus-circle" %}
                    {% include 'partials/object_count.html' with object_list_1=agents|length objects_1='agents' %}
                    <div class="table-responsive" id="agents-list">
                        <table class="table table-centered w-100 dt-responsive nowrap dataTable no-footer dtr-inline collapsed" id="products-datatable">
                            <thead class="thead-light">
                            <tr>
                                <th>{% trans 'Agent' %}</th>
                                <th>{% trans 'Name/Role' %}</th>
                                <th>{% trans 'Email/Phone' %}</th>
                                <th>{% trans 'Offers/Demands' %}</th>
                                <th style="width: 85px;">{% trans 'Action' %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for agent in agents %}
                            {% include 'users/partials/_list_row.html' with agent=agent %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div> <!-- properties list -->
                    {% include 'partials/pagination.html' %}
                </div> <!-- end card-body-->
            </div> <!-- end card-->
        </div> <!-- end col -->
    </div> <!-- content_row -->
</div>
{% endblock %}

{% block extra_scripts %}
<!-- third party js -->
<script src="{% static 'dist/js/vendor/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'dist/js/vendor/dataTables.bootstrap4.js' %}"></script>
<script src="{% static 'dist/js/vendor/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'dist/js/vendor/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'dist/js/vendor/dataTables.checkboxes.min.js' %}"></script>
<script src="{% static 'dist/js/custom/messages_fadeout.js' %}"></script>
<script src="{% static 'dist/js/custom/locations.js' %}"></script>
<script src="{% static 'dist/js/custom/filters_toggle.js' %}"></script>
<!-- third party js ends -->
{% endblock %}
