{% extends 'users/base_auth.html' %}

{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="col-5">
    <div class="card">
        <a href="{% url 'ui:dashboard' %}">
            <div class="card-header pt-4 pb-4 text-center bg-primary">
                <span>
                    <img src="{{ LOGO }}" alt="" height="72">
                </span>
            </div>
        </a> <!-- login -->

        <div class="card-body p-4">
            <div class="form-row">
                <p class="ml-1"><strong>{% translate 'Password reset' %}</strong></p>
            </div> <!-- title -->

            <div class="form-row">
                <p class="ml-1">{% translate "Your password has been set.  You may go ahead and log in now." %}</p>
            </div> <!-- text -->

            <a style="color:indigo" href="{% url 'ui:dashboard' %}">{% trans 'Back to login screen' %}</a>
        </div>  <!-- container -->
    </div>
</div>
{% endblock %}
