{% load crispy_forms_tags %}

<div class="form-row">
    {% if form.subtype != None %}
    <div class="col-md-12 col-lg-4">
        {{ form.subtype|as_crispy_field }}
    </div> <!-- 'subtype' -->
    {% endif%}
    <div class="col-md-12 col-lg-8">
        {{ form.description_sentimental|as_crispy_field }}
    </div>  <!-- description_sentimental -->
</div>

<div class="form-row">
    <div class="col-md-6">
        {{ form.description|as_crispy_field }}
    </div> <!-- description -->
     <div class="col-md-6">
        {{ form.description_english | as_crispy_field }}
    </div> <!-- description_english -->

</div> <!-- 'description/description_sentimental/description_private' -->

<div class="form-row">
    <div class="col-md-7 has-error">
        {{ form.description_private|as_crispy_field }}
    </div> <!-- description_private -->
</div>

{% if property.type == 'land' %}
    {% include 'properties/attributes/_land_surface_fields.html' %}
{% else %}
    {% include 'properties/attributes/_all_surface_fields.html' %}
{% endif %}
