.content-page label {
  font-size: 16px;
}

th, td {
  text-align: center;
  vertical-align: middle;
}

.table th, .table td {
  padding-right: 7px;
  padding-left: 7px;
}

.side-nav li a {
  font-size: 14px;
}

.side-nav .side-nav-link {
  font-size: 14px;
}

.impakt-text {
  color: #449AB9;
  display: inline-block;
}

.width-75 {
    width: 75px;
}

.property-thumbnail {
    height: 120px;
    width: 180px;
}

.user-thumbnail {
    height: 150px;
    width: 120px;
}

