label {
    color: black;
}

p {
    color: #484848
}

.textarea {
    color: #484848;
}

.textinput {
    color: #484848;
}

.numberinput {
    color: #484848;
}

.select {
    color: #484848;
}

.bigger {
    font-size: 2rem;
    color: #DC1C2E;
    vertical-align: middle;
}

.colored{
    color: #DC1C2E;
}

.rem3 {
    font-size: 3rem;
}

.rem2 {
    font-size: 2rem;
}

.green {
    color: green;
}

.gray {
    color: gray;
}

.red {
    color: red;
}

.yellow {
    color: yellow;
}

.new-offer-container {
    label {
        font-size: 1.5rem;
        color: red;
    }

    label:hover {
        cursor:pointer;
    }

}
