{% extends 'base.html' %}

{% load static %}
{% load i18n %}
{% trans "Offices" as _ %}


{% block extra_stylesheets %}
<!-- third party css -->
<link href="{% static 'dist/css/vendor/dataTables.bootstrap4.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'dist/css/vendor/responsive.bootstrap4.css' %}" rel="stylesheet" type="text/css"/>
<!-- third party css end -->
{% endblock %}

{% block content %}

<div class="container-fluid">
    {% include "partials/page_title.html" with title='Offices' %} <!-- page_title -->
    {% include "partials/messages.html" %}

    <!-- content_row -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive" id="properties-list">
                        <table class="table table-centered w-100 dt-responsive nowrap dataTable no-footer dtr-inline collapsed" id="products-datatable">
                            <thead class="thead-light">
                            <tr>
                                <th>{% trans 'Office' %}</th>
                                <th>{% trans 'Name' %}</th>
                                <th>{% trans 'Contact' %}</th>
                                <th>{% trans 'Agents' %}</th>
                                <th>{% trans 'Action' %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for office in object_list %}
                            {% include 'offices/partials/_list_row.html' with office=office %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div> <!-- properties list -->
                    {% include 'partials/pagination.html' %}
                </div> <!-- end card-body-->
            </div> <!-- end card-->
        </div> <!-- end col -->
    </div> <!-- content_row -->
</div>
{% endblock %}

{% block extra_scripts %}
<!-- third party js -->
<script src="{% static 'dist/js/vendor/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'dist/js/vendor/dataTables.bootstrap4.js' %}"></script>
<script src="{% static 'dist/js/vendor/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'dist/js/vendor/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'dist/js/vendor/dataTables.checkboxes.min.js' %}"></script>
<script src="{% static 'dist/js/custom/messages_fadeout.js' %}"></script>
<!-- third party js ends -->
{% endblock %}
