{% load crispy_forms_tags %}
{% load i18n %}
{% load custom_tags %}

<div class="mb-3 form-row">
    <div class="col-md-4 col-xl-2">
        {{ form.rooms_number|as_crispy_field }}
     </div> <!-- rooms_number -->
    <div class="col-md-4 col-xl-2">
        {{ form.interior_state|as_crispy_field }}
    </div> <!-- interior_state -->

    <div class="form-group col-md-4 col-xl-2">
        {{ form.partitioning|as_crispy_field }}
    </div> <!-- partitioning -->
    <div class="form-group col-md-4 col-xl-2">
        {{ form.orientation|as_crispy_field }}
    </div> <!-- orientation -->
</div>

<div class="mb-3 form-row">
    <div class="col-md-4 col-xl-2">
       {{ form.energy_class|as_crispy_field }}
    </div> <!-- energy_class -->
    <div class="col-md-4 col-xl-2">
        {{ form.construction_year|as_crispy_field }}
    </div> <!-- construction_year -->

    <div class="col-md-4 col-xl-2">
        {{ form.construction_material|as_crispy_field }}
    </div> <!-- construction_material -->

    <div class="col-md-4 col-xl-2">
        {{ form.built|as_crispy_field }}
    </div> <!-- built  -->
</div>

<div class="mb-3 form-row">
    <div class="col-md-4 col-xl-2">
        {{ form.cadastral_number|as_crispy_field }}
   </div>

    <div class="col-md-4 col-xl-2">
        {{ form.topographic_number|as_crispy_field }}
    </div>

    <div class="col-md-4 col-xl-2">
        {{ form.land_registry|as_crispy_field }}
   </div>
</div>

<div class="form-row">
    <div class="form-row col-12">
        <div class="mr-3 col">{{ form.in_development|as_crispy_field }}</div>
        <div class="mr-3 col">{{ form.key_holding|as_crispy_field }}</div>
        <div class="mr-3 col"></div>
    </div>
</div>

